BasedOnStyle: WebKit
AlignTrailingComments: true
BreakBeforeBraces: GNU
Cpp11BracedListStyle: true
DerivePointerAlignment: true
MaxEmptyLinesToKeep: 2
SortIncludes: true
SpaceAfterCStyleCast: true
SpaceBeforeRangeBasedForLoopColon: false
AlwaysBreakAfterReturnType: None
#SpacesInConditionalStatement: true
#SpacesInParentheses: true

